.homeContainer {
  flex: 1;
  
}

/* Top light section */
.topSection {
  background-color: #f3f5f3; /* light gray */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  flex-direction: column;
  position: relative;
}

/* Bottom blue section */
.bottomSection {
  background: linear-gradient(135deg, #FF9800, #c78645);
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}
